<div class="row">
  <div class="col-4 offset-8 mt-4 mb-4">
    <input [(ngModel)]="phrase" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <th>id</th>
        <th>name</th>
        <th>superPower</th>
        <th>address</th>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroList | filter:'name':phrase ">
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.superPower }}</td>
          <td>{{ hero.address }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
